@model Tarjeta

@{
    ViewData["Title"] = "IngresarPIN";
}

<head>
  <meta charset="UTF-8" />
<link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">

    <script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>

</head>

<h1>IngresarPIN</h1>

@using (@Html.BeginForm("IngresarPIN", "Home", FormMethod.Post))
{
    <h1 class="display-4">ATM</h1>
    <label for="PIN">PIN</label>
    <input type="text" name="PIN" id="PIN" data-role="keypad" data-position="bottom" data-key-length="4" placeholder="Enter pin">
    <input type="hidden" value="@Model.Nro" id="nroTarjeta" name="nroTarjeta"/>
    <input value="Aceptar" type="submit" />
}
<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Salir</a>





 




