@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">El numero de tarjeta no existe o la misma esta bloqueada.</h2>

<a class="bottomNav" onclick="history.go(-1); return false;" href="#">Atras</a><br />
