@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">No hay suficiente saldo.</h2>

@*<a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
*@
