@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Tarjeta Bloqueada. Ha superado el número de intentos.</h2>

<a class="bottomNav" onclick="history.go(-1); return false;" href="#">Atras</a><br />
