@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">El PIN ingresado es incorrecto.</h2>
<p>@Model.Message</p>

<p>Para regresa a la pantalla anterior, utilizar el boton ATRAS del navegador en la parte superior izquierda de la pantalla</p>